{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -ev pipefail

if command -v sudo &> /dev/null; then
    SUDO="sudo"
else
    SUDO=""
fi

# 1. Install oh-my-zsh
if [ ! -d "$HOME/.oh-my-zsh" ]; then
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
fi

# 2. Change default sh to ZSH
if [[ $(awk -F ":${HOME}:" 'NF>1 {print $2}' /etc/passwd) != $(which zsh) ]]; then
    $SUDO chsh -s $(which zsh) $(whoami)
fi

{{- end -}}
