{{- if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash
set -ev pipefail

# 0. Check if sudo is possible
if command -v sudo &> /dev/null; then
    SUDO="sudo"
else
    SUDO=""
fi

# 1. apt update
$SUDO apt update && $SUDO apt upgrade -y
$SUDO apt install zsh -y
$SUDO chsh -s $(which zsh)

$SUDO apt-get install -y \
    build-essential \
    locales \
    net-tools \
    python3 python3-pip \
    vim \
    wget

# 2. Install Homebrew
which -a brew || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
brew="$(brew --prefix)/bin/brew"
$brew --version

# 3. Install 1password
if ! [ -f /usr/share/keyrings/1password-archive-keyring.gpg ]; then
    curl -sS https://downloads.1password.com/linux/keys/1password.asc | $SUDO gpg --dearmor --output /usr/share/keyrings/1password-archive-keyring.gpg
fi

if ! [ -f /etc/apt/sources.list.d/1password.list ]; then
    echo 'deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/$(dpkg --print-architecture) stable main' | $SUDO tee /etc/apt/sources.list.d/1password.list
fi

if ! [ -f /etc/debsig/policies/AC2D62742012EA22/1password.pol ]; then
    $SUDO mkdir -p /etc/debsig/policies/AC2D62742012EA22/
    curl -sS https://downloads.1password.com/linux/debian/debsig/1password.pol | $SUDO tee /etc/debsig/policies/AC2D62742012EA22/1password.pol
    $SUDO mkdir -p /usr/share/debsig/keyrings/AC2D62742012EA22
    curl -sS https://downloads.1password.com/linux/keys/1password.asc | $SUDO gpg --dearmor --output /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg
fi

$SUDO apt update && $SUDO apt install 1password-cli -y

{{- end -}}
