[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-password-manager.sh"

{{- $name := promptStringOnce . "name" "What is your name?" "Junnos " -}}
{{- $email := promptStringOnce . "email" "What is your email address?" "junnos.dev@gmail.com" -}}
{{- $signingKey := onepasswordRead "op://Work/id_ed25519/public key" -}}

# macOS: darwin
# ubuntu: linux-ubuntu
{{ $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
    {{- $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
    osid = {{ $osid | quote }}

    name = {{ $name | quote }}
    email = {{ $email | quote }}

    locale = "en_KR.UTF-8"
    timezone = "Asia/Seoul"

    signing_key = {{ $signingKey | quote }}
    signing_format = "ssh"
    {{- if eq $osid "linux-ubuntu" }}
    signing_ssh_program = "/opt/1Password/op-ssh-sign"
    {{- else if eq $osid "darwin" }}
    signing_ssh_program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
    {{- end }}

    {{- if or (lookPath "cursor") }}
    editor = "cursor --wait --diff $LOCAL $REMOTE"
    {{- else if lookPath "code" }}
    editor = "code --wait --diff $LOCAL $REMOTE"
    {{- else if lookPath "vim" }}
    editor = "vim"
    {{- else if lookPath "nano" }}
    editor = "nano"
    {{- else }}
    editor = "vi"
    {{- end }}

[onepassword]
    prompt = true

[edit]
    command = .editor
